<div class="clearfix">
    <h1 class="pull-left" md-dialog-title>{{title}}</h1>
    <span class="icon-close-mid pull-right md-dialog-title-close" (click)="mdDialogRef.close(false)"></span>
</div>
<div md-dialog-content>{{ messageAlign }}</div>
<div md-dialog-actions class="confirm-dialog-operate">
    <button md-raised-button color="primary" (click)="mdDialogRef.close(true)">{{ btnOkText }}</button>
    <button md-raised-button (click)="mdDialogRef.close(false)" class="confirm-dialog-cancel">Cancel</button>
</div>
