<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <div *ngIf="isShowMenuBtn()" (click)="showMenu()" class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>

        <i *ngIf="isShowCloseMenuBtn()" (click)="hideMenu()" class="material-icons icon-hover" style="font-size: 24px; margin-top: 10px; float: left; color: white; cursor: pointer;">clear</i>

        <a href="/home" style="margin-left: 15px;">
            <img src="assets/img/logo.png" alt="logo" class="logo-default" />
        </a>
    </div>
    <div *ngIf="isHomePage()" class="hor-menu hor-menu-light hidden-sm hidden-xs">
        <div style="float: left; margin-top: 12px; width: 2px; height: 25px; background:#f5f5f5;"></div>

        <ul class="nav navbar-nav">
            <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->

            <li class="mega-menu-dropdown">
                <a href="javascript:;" class="dropdown-toggle hover-initialized" data-hover="megamenu-dropdown" data-close-others="true">
                    {{menuName()}}
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" style="min-width: 165px;">
                    <li>
                        <!-- Content container to add padding -->
                        <div class="mega-menu-content">
                            <div class="row">
                                <div>
                                    <ul class="mega-menu-submenu">
                                        <li *ngFor="let module of modules">
                                            <a href="javascript:void(0){{module.entryUrl}}">{{module.label}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div #userMenu class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="javascript:void(0)" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="assets/img/avatar.png" />
                    <span class="username username-hide-on-mobile"> {{user.firstName}} {{user.lastName}}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="divider" style="margin-bottom: 0px;"> </li>
                    <li>
                        <a (click)="signOut()" style="padding-bottom:30px;">
                            <i class="material-icons" style="font-size: 20px; color: red; float: left; margin-left: 10px;">power_settings_new</i>
                            <span style="float: left; margin-left: 10px;">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div #companyfacilityMenu class="top-menu">

        <!-- END HEADER SEARCH BOX -->
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user" *ngIf="cfShowLabel == 'companyfacility'">
                <a href="javascript:void(0)" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <span style="color:white;" *ngIf="currentCompanyFacility">
                        <span>Company：</span>
                        <span class="header-cf-font">{{currentCompanyFacility.company.name}}</span>
                        <span style="padding-left:25px;">Facility：</span>
                        <span class="header-cf-font">{{currentCompanyFacility.facility.name}}</span>
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu" style="width:auto; min-width: 300px;">
                    <li class="menu-li-top">
                        <div class="menu-li-content" style="float:left;">Company</div>
                        <div class="menu-li-content" style="float:left;">Facility</div>
                    </li>
                    <li *ngFor="let cf of companyFacilities">
                        <a (click)="onClickCompanyFacility(cf)" style="width:100%; padding:5px 0px;">
                            <div class="menu-li-content">{{cf.company.name}}</div>
                            <div class="menu-li-content">{{cf.facility.name}}</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown dropdown-user" *ngIf="cfShowLabel == 'facility'">
                <a href="javascript:void(0)" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <span style="color:white;" *ngIf="currentCompanyFacility">
                        <span>Facility：</span>
                        <span class="header-cf-font">{{currentCompanyFacility.facility.name}}</span>
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu" style="text-align: center; width:auto;  min-width: 300px;">
                    <li class="menu-li-top">
                        Facility
                    </li>
                    <li ng-repeat="cf in companyFacilities track by $index">
                        <a (click)="onClickCompanyFacility(cf)" style="width:100%; padding:5px 0px;">
                            {{cf.facility.name}}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown dropdown-user" *ngIf="cfShowLabel == 'company'">
                <a href="javascript:void(0)" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <span style="color:white;" *ngIf="currentCompanyFacility">
                        <span>Company：</span>
                        <span class="header-cf-font">{{currentCompanyFacility.company.name}}</span>
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu" style="text-align: center; width:auto;  min-width: 300px;">
                    <li class="menu-li-top">
                        Company
                    </li>
                    <li ng-repeat="cf in companyFacilities track by $index">
                        <a (click)="onClickCompanyFacility(cf)" style="width:100%; padding:5px 0px;">
                            {{cf.company.name}}
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->