<ul>
    <li class="nav-item" permission-check="{{menuItem.permissions}}" ng-repeat="menuItem in menuData">
    	<div ng-init="hasSubMenu = menuItem.subMenu && menuItem.subMenu.length > 0"></div>
        <a href="#{{menuItem.url}}" class="nav-link nav-toggle">
            <i class="material-icons {{menuItem.iconClass}}">{{menuItem.icon}}</i>
            <span class="title">{{menuItem.title}}</span>
            <span class="arrow" ng-if="hasSubMenu"></span>
        </a>
        <sidebar-menu-item ng-model="menuItem" ng-if="hasSubMenu" class="sub-menu"></sidebar-menu-item>
    </li>
</ul>