<main class='login-background'>

    <div class="login-background">

        <div style="padding-top:55px;">
            <iframe id="androidApk" src="" name="androidApk" style="width: 1px; height: 1px; visibility: hidden;" marginwidth="0" marginheight="0"
                frameborder="0" scrolling="No"></iframe>

            <div id="androidMark" title="Download android apk" style="height: 36px; width: 22px; cursor: pointer; float: right;
            background: #F5F5F5 url('assets/img/android.png') no-repeat; border-radius: 10px 0px 0px 10px"></div>

            <div id="androidLink" style="float:right; border-radius: 20px 0px 0px 20px; padding: 5px 20px 5px 15px;
            background: #F5F5F5; margin-right: -160px; display: none;">
                <span class="material-icons" style="float: left; color:forestgreen; font-size:36px; padding-right: 10px;">android</span>
                <a href="android/lt-app.apk" target="androidApk" style="padding-top: 8px; float: left; display: block;">DOWNLOAD</a>
            </div>
        </div>

        <div class="login_container">
            <div class="signin_block">
                <div class="login_logo">
                    <img src="../../../assets/img/FR8_App_LOGO.jpg" width="600px;">
                </div>

                <!-- loginForm.reset() -->
                <!-- <form (ngSubmit)="onClickSubmit();" #loginForm="ngForm">
                <div class="form-group">
                    <label for="name">User Name</label>
                    <input type="text" id="name" class="form-control" 
                    name="username" required
                     [(ngModel)]="loginUser.username" #name='ngModel'>
                </div>

                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
                <div class="form-group">
                    <label for="passw">Password</label>
                    <input type="text" id="passw" 
                    class="form-control" name="password" 
                     [(ngModel)]="loginUser.password" #pword='ngModel' required>
                </div>
                <div [hidden]="pword.valid || pword.pristine" class="alert alert-danger">
                    Password is required
                </div>
                <div class="form-group">
                    <label for="name"> Label</label>
                    <input type="text" id="name" class="form-control" 
                    name="labeled" 
                     [(ngModel)]="loginUser.labeled" >
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid" >Submit</button>

            </form> -->
                <form name="loginForm" (ngSubmit)="onClickSubmit();" novalidate style="padding: 20px 0px;">
                    <label class="label_lg">
                        <input id="input_username" name="username" class="input_lg" [(ngModel)]="loginUser.username" required placeholder="Username"
                            type="text">
                    </label>
                    <label class="label_lg">
                        <input id="input_password" name="password" class="input_lg" [(ngModel)]="loginUser.password" #passWordInput (keyup.enter)='onEnter(passWordInput.value)'
                            required placeholder="Password" type="password">
                    </label>
                    <label class="xs_button">
                        <input type="submit" value="Sign In" class="btn_xs_fill" />
                        <!-- <button (click)="onClickSubmit()">submit</button> -->
                    </label>
                    <!-- <label class="label_lg">
                    <input type="button" value="Reset Password" class="btn_no_fill_lg">
                </label> -->
                </form>
            </div>
        </div>

    </div>

</main>