.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button.md-default-theme.md-raised, .md-button.md-raised {
  color: rgb(33,33,33);
  background-color: rgb(250,250,250);
}
.md-button {
  display: inline-block;
  position: relative;
  /* cursor: pointer; */
  /* min-height: 36px; */
  /* min-width: 88px; */
  /* line-height: 36px; */
  /* vertical-align: middle; */
  /* -webkit-box-align: center; */
  /* -webkit-align-items: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* border-radius: 2px; */
  /* box-sizing: border-box; */
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-button {
  display: inline-block;
  position: relative;
  /* cursor: pointer; */
  /* min-height: 36px; */
  /* min-width: 88px; */
  /* line-height: 36px; */
  /* vertical-align: middle; */
  /* -webkit-box-align: center; */
  /* -webkit-align-items: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* border-radius: 2px; */
  /* box-sizing: border-box; */
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}