/* app css stylesheet */

body,button, select, html, textarea, input{
    font-family: Arial,sans-serif;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.wms-outbound-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.growl {
    padding-right: 15px;
    float: right;
    width: 500px;
    z-index: 999;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -o-transition: .5s linear all;
    transition: .5s linear all
}

.growl-item.ng-enter,
.growl-item.ng-leave.ng-leave-active {
    opacity: 0
}

.growl-item.ng-leave,
.growl-item.ng-enter.ng-enter-active {
    opacity: 1
}

header {
    background-image: url('../img/TMS_Shipment_Header_bg.png');
    height: 72px;
}

header h1 {
    margin: 0;
    line-height: 72px;
    padding-left: 10px;
    display: inline-block;
}

header .sign-out-link {
    display: inline-block;
    margin: 47px 10px 0 0;
    float: right;
}

header .sign-out-link a {
    display: inline-block;
    margin-left: 60px;
    padding-top: 5px;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label.has-error {
    font-size: 12px !important;
    margin-bottom: 0;
}

.dropdown > .dropdown-menu,
.dropdown-toggle > .dropdown-menu,
.btn-group > .dropdown-menu {
    margin-top: 0px !important;
}

.dropdown-menu {
    min-width: 0;
}

.login_container input[type="text"],
.login_container input[type="password"],
.login_container input[type="email"] {
    height: 22px;
    border: 1px solid rgb(204, 204, 204);
    padding: 0px 3px;
    font-size: 12px;
}

.login_container input[type="checkbox"] + label span,
.login_container input[type="radio"] + label span {
    display: inline-block;
}

.login_container input[type="checkbox"]:checked + label span:before,
.login_container input[type="radio"]:checked + label span:before {
    font-family: "FontAwesome";
    content: "\f058";
    font-size: 18px;
    color: rgb(255, 153, 51);
}

.login_container input[type="checkbox"] + label span:before,
.login_container input[type="radio"] + label span:before {
    vertical-align: baseline;
    cursor: pointer;
    margin: -1px 5px 0 0;
    font-family: "FontAwesome";
    content: "\f10c";
    font-size: 18px;
    color: rgb(255, 153, 51);
}

.input_lg,
.label_lg {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    word-break: break-all;
}

.custom_checkbox,
.custom_checkbox2,
.custom_checkbox4 {
    position: relative;
    display: inline-block;
    margin-top: 13px;
    margin-right: 5px;
    font-size: 10px;
}

.custom_checkbox input[type="checkbox"],
.custom_checkbox3 input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    top: -10px;
    left: -5px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.custom_checkbox label,
.custom_checkbox2 label,
.custom_checkbox3 label,
.custom_checkbox5 label {
    cursor: pointer;
    color: #fff;
}

.login-background {
    background-color: #2b3643;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
}
.login_container {
    text-align: center;
    position: relative;
    top: 40%;
    margin-top: -150px;
}

.login_container .xs_button,
.login_container .label_lg {
    margin-top: 0;
}

.login_container .custom_checkbox {
    margin-top: 0px;
}

.login_container .xs_button,
.login_container .label_lg {
    margin-top: 0;
}

label.label_sm,
label.label_med,
label.label_xmed,
label.label_lg,
label.label_xlg,
label.label_xxlg,
label.label_xxxlg,
label.input_sm,
label.input_med,
label.input_lg,
label.input_xlg,
label.input_xxlg,
label.input_xxxlg {
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    margin: 0 5px 5px 0;
}

label.lg_button,
label.xs_button,
label.med_button,
label.sm_button {
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    margin: 14px 0 0 0;
}

.btn_no_fill_lg {
    height: 22px;
    width: 150px;
    border: 1px solid rgb(255, 0, 102);
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    color: rgb(255, 0, 102);
    background-color: white;
    cursor: pointer;
}

.login_container .btn_xs_fill {
    height: 22px;
}

.btn_xs_fill {
    background-color: rgb(255, 3, 113);
    display: inline-block;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 11px;
    text-transform: uppercase;
    width: 73px;
    height: 18px;
    text-align: center;
    border: 0;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.signin_block {
    width: 600px;
    margin: 25px auto;
    background: #fff;
    overflow: hidden;
}

.custom_checkbox,
.custom_checkbox2,
.custom_checkbox4 {
    position: relative;
    display: inline-block;
    margin-top: 13px;
    margin-right: 5px;
    font-size: 10px;
}

.footer {
    background-color: transparent;
}
.footer {
    text-align: center;
    padding-top:8px;
    padding-bottom:8px;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}


.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
}

.modal-backdrop.am-fade .ng-enter {
    opacity: 0;
}

.modal-backdrop.am-fade .ng-enter .ng-enter-active {
    opacity: .5;
}

.modal-backdrop.am-fade .ng-leave {
    opacity: .5;
}

.modal-backdrop.am-fade .ng-leave .ng-leave-active {
    opacity: 0;
}

#centerRow {
    height: 100% !important;
}

.ag-fresh input[type="checkbox"] {
    margin-right: 3px;
}

.button-group {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-top: 3px solid #cacaca;
}

.edit-form {
    background: #f6fbfc;
    padding: 10px 10px 20px;
}

.edit-form h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-form .form-actions {
    text-align: right;
}

.has-error.help-block,
.has-error.control-label,
.has-error.radio,
.has-error.checkbox,
.has-error.radio-inline,
.has-error.checkbox-inline {
    color: #a94442;
}

.page-header.navbar .page-logo .logo-default {
    margin-top: 10px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: #364150;
}

.ag-fresh .ag-root {
    border: 1px solid #e7ecf1 !important
}

.ag-fresh .ag-header {
    background: none !important;
    border-bottom: 1px solid #e7ecf1 !important;
}

.ag-fresh .ag-header-cell {
    border-right: 1px solid #e7ecf1 !important;
}

.ag-fresh .ag-cell-no-focus {
    border-right: 1px dotted #e7ecf1 !important;
}

.ui-select-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 1px;
}

.ui-select-container input[type=search] {
    -webkit-appearance: inherit;
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

.ui-select-match-item.btn{
    text-transform: none;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    margin-top: 2px;
    margin-left: 6px;
}
 /*tricky fix for the ui-select in directive x icon display and disappear when page load*/


.ui-select-bootstrap .ui-select-toggle > a.btn
{
    height:20px;
}

.ui-select-match-item.btn span {
    display: inline-block;
}


.ui-select-choices-group-label {
    font-size: 16px;
    font-weight: bold;
}

/* temp fix ui-select resize bug */
.ui-select-container:not(.ui-select-multiple) input.ui-select-search {
    width: 100% !important;
}

.form-control.ui-select-container {
    padding-top: 0px;
    padding-bottom: 5px;
}
.form-control.ui-select-multiple {
    padding: 3px 3px 0 3px;
}
.form-control .ui-select-match {
    outline: none !important;
    box-shadow: none;
}
.form-control .ui-select-toggle {
    background-color: #fff !important;
    text-transform: none;
    height: 32px;
    padding: 6px 0;
    font-size: 14px;
    font-weight: normal;
}
.form-control .ui-select-toggle .caret {
    right: 0;
}
.form-control.search .ui-select-toggle .caret {
    display: none;
}
.form-control .ui-select-search {
    height: 32px;
    border: none !important;
    background-color: #fff !important;
    padding-left: 0;
}
.portlet-list .portlet {
    box-shadow: none;
}
.portlet .portlet-header {
    float: left;
    margin-top: -16px;
    background: #fff;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
}
.portlet-list .portlet .portlet-header {
    margin-top: -22px;
}

.tasklist-item {
    background: #f6fbfc;
    color: #2b4a5c;
    margin-bottom: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.tasklist-item:hover,
.tasklist-item .active {
    background-color: #c0edf1;
}

.tasklist-item-container {
    padding: 10px;
    font-size: 15px;
    color: #2b4a5c;
    border: 1px solid #eee;
}

.tasklist-item-actions {
    padding-right: 5px;
    padding-bottom: 20px;
}

.tasklist-item-actions i {
    float: right;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
}

.tasklist-item-group {
    padding: 5px 0 32px 15px;
}

.tasklist-item-group > span {
    padding: 0;
}

.tasklist-item-text {
    padding-left: 15px;
    padding-bottom: 5px;
}

.tasklist-item-container .tasklist-item-text:last-child {
    padding-top: 5px;
    padding-bottom: 10px;
}

.tasklist-item-status {
    width: 120px;
    display: inline-block;
}

.tasklist-item-progress {
    display: inline-block;
    /*width: 100px;*/
}

.tasklist-item-progress .progress {
    margin-bottom: -5px;
}

.tasklist-badge {
    min-width: 60px;
}

.count-task-form-padding {
    padding-left: 33px;
}

#countTaskForm label{
    padding-left: 33px;
    text-align: left;
}

#countTaskForm .col-xs-6{
    padding-left: 0px;
}

.priority-middle {
    background-color: #31708f;
}

.priority-high {
    background-color: #3c763d;
}

.priority-top {
    background-color: #a94442;
}

.tasklist-item:nth-child(5n+0) {
    border-left: #3faba4 2px solid;
}

.tasklist-item:nth-child(5n+1) {
    border-left: #d05454 2px solid;
}

.tasklist-item:nth-child(5n+2) {
    border-left: #8877a9 2px solid;
}

.tasklist-item:nth-child(5n+3) {
    border-left: #4c87b9 2px solid;
}

.tasklist-item:nth-child(5n+4) {
    border-left: #d4ad38 2px solid;
}

.task-detail-container {
    padding: 20px 15px 10px 0;
}

.task-detail-container .tasklist-item-group {
    padding: 0 15px 30px 15px;
}

.task-detail .ag-fresh {
    padding: 0 15px 10px;
    width: 100%;
    height: 200px;
}

.home-page {
    min-height: 500px;
    background: #EAEAEA;
}

.home-page .md-button {
    min-width: 260px;
    font-size: 20px;
    line-height: 40px;
    text-transform: none;
}

.home-page .md-button .material-icons {
    vertical-align: text-bottom;
}

.home-page .row {
    width: 100%;
    margin: 0;
    padding-top: 40px;
    text-align: center;
}

.page-sidebar .nav-item .material-icons {
    vertical-align: middle;
    font-size: 20px;
}

.page-sidebar .sub-menu .material-icons {
    font-size: 18px !important;
}

.material-icons.disabled {
    color: #BDBDBD;
}

.job-form md-dialog-content {
    height: 200px;
}

.count-task-list-container {
    margin-left: 15px;
    margin-bottom: 10px;
}

.count-task-list-container .add-link {
    padding-left: 20px;
}

.count-task-list-container .count-task-wrap:first-child {
    padding-left: 14px;
}

.count-task-wrap {
    margin-bottom: 10px;
}

.count-task-wrap .remove-button {
    float: left
}

.count-task-wrap .remove-button > i {
    font-size: 14px;
    padding-top: 10px;
}

.count-task-info {
    display: flex;
}

.count-task-info>div {
    padding: 0 0 0 5px;
}

.item-edit-form .row {
    padding-top: 15px;
}

.item-edit-form .first-row {
    padding-top: 0;
}

.item-edit-form .first-row .first-column input,
.item-edit-form .first-row .first-column .ui-select-container {
    margin-left: 20px;
}

.item-edit-form .title>div:first-child label {
    padding-left: 20px;
}

.item-edit-form .glyphicon {
    padding-right: 2px;
    cursor: pointer;
}

.item-edit-form md-switch {
    margin: 0;
    padding-left: 5px;
}

.item-edit-form input {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.item-edit-form label {
    font-weight: bold;
    font-size: 16px;
    color: #444;
}

.item-edit-form .first-column label.has-error {
    padding-left: 20px;
}

.item-edit-form .add-link {
    padding-top: 10px;
}

.item-edit-form .add-link .md-button {
    margin-left: 20px;
    text-decoration: none;
}

.item-edit-form .item-spec-actions .ui-select-container {
    min-height: 34px;
    min-width: 200px;
    display: inline-block;
}

.item-edit-form .ui-select-match-item {
    font-size: 14px !important;
    line-height: 1.6 !important;
    border-radius: 5% !important;
}

.item-edit-form .ui-select-match-close {
    margin-top: 7px;
    margin-left: 5px;
}

.item-edit-form .md-datepicker-button {
    margin: 0;
    padding: 8px 0;
    width: 24px;
}

.item-edit-form .md-datepicker-input-container {
    top: -3px;
    margin-left: 5px;
    width: 168px;
    padding-bottom: 0;
}

.item-edit-form .md-datepicker-input {
    width: 168px;
}

.item-edit-form .md-datepicker-input-container.md-datepicker-invalid {
    border: 1px solid #843534;
}

.item-edit-form .md-datepicker-input-container.md-datepicker-focused {
    border: 1px solid #843534;
    outline-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.count-tasks-container>h3 {
    padding-left: 10px;
}


/*.count-tasks-container .ui-select {
    width: 300px;
}*/

.frame-container {
    /*border: 1px solid #455B60;*/
    overflow: auto;
    /* width: 600px;*/
    margin: 0px 10px 20px 10px;
    padding: 10px 30px;
    background-color: #E7EEEF;
}

.count-tasks-item {
    padding:0px;
    height:36px;
    border-radius:25px;
}

.count-tasks-item i[role="button"] {
    left: 12px;
    position: absolute;
    line-height: 18px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    border-top: 0px;
    margin-top: -5px !important;
}

.btn-default-focus {
    box-shadow: none !important;
}

.count-tasks-item i[class~="caret"]:before{
    content:"\f002";
}

.count-tasks-item span[role="button"]>span {
    margin-left: 30px;
}

.count-tasks-item span[role="button"]{
   border-radius: 25px;
}

.count-tasks-item input[aria-label="Select box"] {
   border-radius: 25px;
}

.diverse-filter-container{
    border: 1px solid #ccc;
    margin: 0px 0px 15px 0px !important;
    border-radius: 4px;
}

.diverse-filter-container-size{
    min-height: 36px;
    max-height: 255px;
    overflow: auto;
}

.diverse-filter-title {
    width: auto;
    float: left;
    margin-top: -12px;
    background: #f6fbfc;
    padding: 0 10px;
    font-weight: bold;
}

.no-padding-left {
    padding-left:0px;
}

.no-padding {
    padding:0px;
    margin-bottom: 10px;
}

.diverse-container {
    border: 1px solid #E4EAEB;
    /* background-color: #E4EAEB;*/
    /*padding-top: 10px;*/
    padding: 0px 10px 5px 10px;
    margin-bottom: 10px;
    min-height: 50px;
    margin-top: 20px;
}

.criteria-checkbox {
    width: 145px;
    /* height:100px;*/
    float: left;
    padding: 10px 0px;
    /*margin-right: 100px;*/
}

/*.diverse-btn-list {*/
    /*!* float: right;*/
     /*font-size: 16px;*/
     /*cursor: pointer;*/
     /*margin-left: 5px;*!*/
    /*padding: 10px;*/
    /*text-align: right;*/
/*}*/

.diverse-btn-list a:nth-child(1) {
    margin-right: 20px;
}

.counttasklist-item {
    background: #f6fbfc;
    color: #2b4a5c;
    margin-bottom: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.counttasklist-item:hover,
.counttasklist-item .active {
    background-color: #c0edf1;
}

.counttasklist-item-container {
    padding: 10px;
    font-size: 15px;
    color: #2b4a5c;
}

.counttasklist-item-title {

    border-bottom: 1px solid #eef1f5;
    margin-bottom: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.counttasklist-item-text {
    padding-left: 15px;
    padding-bottom: 6px;
}

.countTask-form-action {
    text-align: right;
    padding-right: 10px;
}

.countTask-form-action a {
    margin-left: 10px;
}

.vertical-line {
    padding-right: 10px;
    border-right: 2px solid #c1c1c1;
}

.underline {
    text-decoration: underline;
}

.light-border {
    border: 1px solid #eef1f5;
}

.fieldset-title {
    margin-top: -23px;
    margin-left: 9px;
    text-align: center;
    background-color: #f6fbfc;
    width: 124px;
}

.inventory-task-report-head {
    text-align: center;
}

.inventory-task-report-content {
    padding: 0px 20px 20px 20px;
}

.inventory-task-report-content .actions {
    text-align: right;
}

.itemSpecContainer {
    margin-top: 20px;
}

.right-container-title {
    color: #06326A;
    font-weight: 200;
}

#receipt-order-page h4 {
    color: #06326A;
}

#receipt-order-page .row {
    /*padding-top:30px;*/
    height: 60px;
    /*width: 80%;*/
}

#receipt-order-page #form-action {
    margin-top: 20px;
    text-align: right;
    padding-right: 30px;
}

#receipt-order-page #form-action .btn {
    font-size: 22px;
    margin-left: 20px;
}

.receipt-order-item-actions {
    text-align: center;
}

.receipt-order-item-actions i {
    font-size: 15px;
}

#receipt-order-page .item-list .title {
    margin-bottom: 5px;
}

#receipt-order-page .item-list .title h4 {
    display: inline-block;
}

#receipt-order-list input {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    width: 100%;
}

#receipt-order-page input {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    width: 100%;
}

#receipt-order-list #form-action {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
}

#receipt-order-list .row {
    height: 60px;
}

#receipt-order-list .item-list-continer {
    margin-top: 40px;
}


#receipt-order-list .md-datepicker-button {
    margin: 0;
    padding: 8px 0;
    width: 24px;
}

#receipt-order-list .md-datepicker-input {
    width: 130px;
}

#receipt-order-list .md-datepicker-input-container {
    margin-left: 0px;
    padding-bottom: 0;
}

#receipt-order-page .md-datepicker-button {
    margin: 0;
    padding: 8px 0;
    width: 24px;
}

#receipt-order-page .md-datepicker-input-container {
    margin-left: 0px;
    padding-bottom: 0;
    width: 90%;
}

#receipt-order-page .md-datepicker-input {
    width: 100%;
}

.create-receipt-item-form {
    padding: 40px 40px 60px 40px;
}

.create-receipt-item-form input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.create-receipt-item-form .md-datepicker-input-container {
    margin-left: 0px;
    padding-bottom: 0;
}


.create-receipt-item-form .form-group {
    height: 40px;
}

.create-receipt-item-form .form-group-60 {
    height: 65px;
}


/***********orders start*************/

#orders-order-page h4 {
    color: #06326A;
}

#orders-order-page .row {
    /*padding-top:30px;*/
    height: 60px;
    /*width: 80%;*/
}

#orders-order-page .row-120 {
    /*padding-top:30px;*/
    margin-left: -15px;
    margin-right: -15px;
    height: 120px;
    /*width: 80%;*/
}


#orders-order-page .row-70 {
    /*padding-top:30px;*/
    margin-left: -15px;
    margin-right: -15px;
    height: 70px;
    /*width: 80%;*/
}


#orders-order-page .row-140 {
    /*padding-top:30px;*/
    margin-left: -15px;
    margin-right: -15px;
    height: 140px;
    /*width: 80%;*/
}

#orders-order-page {
    /*padding-top:30px;*/
    padding-bottom: 80px;
    /*width: 80%;*/
}

#orders-order-page #form-action {
    margin-top: 20px;
    text-align: right;
    padding-right: 30px;
}

#orders-order-page #form-action .btn {
    font-size: 22px;
    margin-left: 20px;
}

.orders-order-item-actions {
    text-align: center;
}

.orders-order-item-actions i {
    font-size: 15px;
}

#orders-order-page .item-list .title {
    margin-bottom: 5px;
}

#orders-order-page .item-list .title h4 {
    display: inline-block;
}

.create-orders-item-form {
    padding: 40px 40px 60px 40px;
}

#orders-order-list input {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.create-orders-item-form input {
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.create-orders-item-form .form-group {
    height: 40px;
}

#orders-order-list #form-action {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
}

#orders-order-list .row {
    height: 60px;
}

#orders-order-list .item-list-continer {
    margin-top: 40px;
}

#orders-order-page .input-text {
    /*padding-top:30px;*/
    width: 100%;
    /*width: 80%;*/
}

#orders-order-list .input-text {
    width: 100%;
}

#orders-order-list .md-datepicker-button {
    margin: 0;
    padding: 8px 0;
    width: 24px;
}

#orders-order-list .md-datepicker-input {
    width: 152px;
}

#orders-order-list .md-datepicker-input-container {
    margin-left: 0px;
    padding-bottom: 0;
}

#orders-order-page .md-datepicker-input {
    width: 100%;
}
.tab-container {
    width: 99%;
    text-align: center;
}

.label-padding-25{
    padding-top:25px !important;
}

.readonly-textarea{
    background-color: #FBFBFF !important;
}

.gray-label{
    color:#666 !important;
}


.col-30{
    width:35% !important;
}

.col-70{
    width:65% !important;
}
/***********orders end*************/



.datepicker-container {
    text-align: left;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: red;
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}

.md-dynamic-height md-tab-content {
    overflow-x:hidden;
}


.action-bar {
    padding-top: 10px;
}

.action-bar .action-item {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.action-bar .right {
    float: right;
}

.action-bar .spliter {
    border-left: 1px solid #ddd;
    display: inline-block;
    margin: 10px 0;
    padding-top: 30px;
}

.list-container {
    margin-top: 20px;
}

.list-item {
    background: #f6fbfc;
    color: #2b4a5c;
    margin-bottom: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    font-size: 16px;
}

.required-item-list {
    margin-top: 10px;
}

.required-item {
    margin-top: 10px;
    font-size: 14px;
    color: #757575;
    border-bottom: 1px dashed #BDBDBD;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 40px;
}

.pick-task-form .actions button {
    margin-right: 20px;
}
/*rgba(121, 190, 193, 0.1)*/
.pick-rules-content  .portlet.light{
    background-color: #f5f5f5;
}
.pick-task-form .field-rules .row{
   height: 50px;
}

fieldset {
    border: 2px solid rgb(63,81,181);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
}

legend {
    padding: 0px;
    margin: 0px;
    border: 0;
    width: auto;
    border-bottom: none;
}

.order-row {
    margin-left: 0px
}

legend md-checkbox {
    top: 8px;
}

.pklabel {
    padding: 2px 6px 4px 6px;
    font-size: 14px;
    font-weight: 600;
    border-radius: .25em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
}

.text-transform-none {
    text-transform: none;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.box-shadow-none {
    box-shadow: none;
}

.lt-font-14 {
    font-size: 14px;
}

.lt-font-12 {
    font-size: 12px;
}

.infotag{
    font-size: 12px;
    font-weight: 600;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border-width: 0 !important;
    overflow: hidden;
    position: relative;
    user-select: none;
    padding: 9px 14px 8px 14px;
    line-height: 1.44;
    position: relative;
    float:left;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: none !important;
}

.infotag-group .infotag {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.infotag.default {
    color: #666666;
    background-color:#e1e5ec;
    border-color: #e1e5ec;
}


.search-criteria {
    padding-top: 30px;
    background-color: #d9edf7;
}

.search-criteria div.row {
    height: 48px;
}

.search-criteria lt-date-time {
    padding-left: 22px;
    padding-right: 28px;
}

.search-result {
    padding-top: 30px;
}

.overview {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: #f6fbfc;
}


.action-link {
    margin-left: 10px;
    margin-right: 10px;
}

button.icon-action {
    font-size: 14px;
    border: 0;
    background-color: transparent;
}

.mbol-list {
    padding-top: 0;
}

.order-task-color-true {
    background-color: #DDD;
}

.pick-task .form_datetime {
    min-width: 240px;
    /*max-width: 272px;*/

}
.pick-task .ui-select-container {
    min-width: 130px;

}

.pick-task-form .form-label {
    min-width: 130px;
}

.collapse-row{
    margin: 0px
}
/* angularjs  validation*/

form.ng-submitted.ng-invalid input.ng-invalid,form.ng-submitted.ng-invalid textarea.ng-invalid,form.ng-submitted.ng-invalid select.ng-invalid,form.ng-submitted.ng-invalid div.ng-invalid,input.ng-invalid.ng-touched,div.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched, .pack-input-item-full{
    border-color: #e73d4a;
}
.pick-task-location-qty-full {
    border-color: #e73d4a;
}


form.ng-submitted.ng-invalid input.ng-invalid:focus,form.ng-submitted.ng-invalid textarea.ng-invalid:focus{
    border-color: #e73d4a;
    outline-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px #e73d4a;
    box-shadow: inset 0 1px 1px rgba(0 , 0, 0, .075), 0 0 1px #e73d4a;
}

form.ng-submitted.ng-invalid.form-control {
    border-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


tags-input.ng-invalid .tags.focused {
    border-color: #00b3ee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

tags-input.ng-invalid .tags {
    border-color: #ccc;
    -moz-box-shadow: none;
    box-shadow: none;
}

form.ng-submitted tags-input.ng-invalid .tags.focused {
    border-color: #e73d4a;
    outline-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px #e73d4a;
    box-shadow: inset 0 1px 1px rgba(0 , 0, 0, .075), 0 0 1px #e73d4a;
}

form.ng-submitted  tags-input.ng-invalid .tags {
    border-color: #e73d4a;
    outline-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px #e73d4a;
    box-shadow: inset 0 1px 1px rgba(0 , 0, 0, .075), 0 0 1px #e73d4a;
}

.lt-tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 3px 8px;
    opacity: 0.7;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    transition: opacity .15s linear;
    /* Position the tooltip */
    position: absolute;
    bottom: 150%;
    margin-bottom: 5px;
    margin-left: -167px;
}

.lt-tooltip:hover .lt-tooltip-text {
    visibility: visible;
}

.lt-tooltip.has-error {
    color:#e73d4a;
}

.lt-tooltip .lt-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 83%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.add-order-container .item-list .title {
    margin-bottom: 5px;
}

.add-order-container .item-list .title h4 {
    display: inline-block;
}

.form-self-actions {
    text-align: right;
}
.form-self-actions button {
    margin-left: 15px;
}
/*.checkin-entry-list .entry-status span {*/
    /*width: 120px;*/
    /*display: inline-block;*/
/*}*/
.entry-caption-title {
    color: #1E585C ;
    font-size: 20px !important;
}

.entry-caption-status{
    width: 120px;
    display: inline-block;
}

.entry .checkin-title {
    display:block;
    float:left;
    padding-left:15px;
}
.entry .checkin-content {
    color: #565F68;
}
.entry > div{
    margin-bottom: 13px;
}
.entry .checkin-content > div {
    margin-bottom: 5px;
}
.entry .checkin-content > div:last-child
{
    margin-bottom: 0px;
}
.entry-list .select-input {
    margin-bottom: 12px;
}
.sortable-list .form-group {
    text-align: center;
}

.sortable-list ul {
    border: solid 1px darkgrey;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 10px 0;
    padding-top: 5px;
    padding-left: 0;
    min-height: 50px;
}
.as-sortable-item {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.as-sortable-placeholder {
    margin-left: 5px;
}
.as-sortable-item-handle {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
#commitment-field-priority-config .form-group {
    margin-bottom: 5px;
}
#commitment-field-priority-config .customer {
    font-size: 16px;
}
.field-priority-header,
.field-value-priority-header {
    margin-top: 30px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #E0E0E0;
}
.field-priority-header {
    margin-top: 0;
}
#field-priority-container, 
.field-value-priority-container {
    margin-top: 30px;
    padding-top: 5px;
    border-radius: 10px;
    border: 2px solid darkgrey;
    color: #616161;
}
#field-priority-container {
    margin-top: 25px;
}
.field-value-priority-container .title {
    float: left;
    margin-top: -16px;
    background: #fff;
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
}
/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list],
ul[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.dropzone li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
    background-color: #ddd;
    min-height: 42px;
    display: block;
    position: relative;
}

/***************************** Element Selection *****************************/

.dropzone .selected .item {
    color: #3c763d;
    background-color: #dff0d8;
}

.dropzone .selected .box {
    border-color: #d6e9c6;
}

.dropzone .selected .box > h3 {
    color: #3c763d;
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
    border-color: #d6e9c6;
}

/***************************** Element type specific styles *****************************/

.dropzone .item {
    padding: 10px 15px;
}

.dropzone .container-element {
    margin: 15px;
}

.dropzone .container-element .column {
    float: left;
    width: 50%;
}

/***************************** Toolbox *****************************/

.toolbox ul {
    list-style: none;
    padding-left: 0px;
    cursor: move;
}

.toolbox button {
    margin: 5px;
    width: 123px;
    opacity: 1.0;
}

.toolbox .dndDragging {
    opacity: 0.5;
}

.toolbox .dndDraggingSource {
    opacity: 1.0;
}

/***************************** Trashcan *****************************/

.trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.trashcan .dndPlaceholder {
    display: none;
}
.field-value-priority-container .radio-group .form-group {
    font-size: 16px;
    margin-bottom: 10px !important;
}

.view-container {
    padding:10px 0px;
}
.view-container .row{
    margin-bottom: 15px;
}



/*****  checkin process ***/

.row.step-lines {
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    border-left: 1px solid #e7ecf1;
    border-right:1px solid #e7ecf1;
}
.step-line {
    border-bottom: 2px solid #e7ecf1;
}

.row.step-body {
    border:1px solid #e7ecf1;
    border-top:0;
    margin-left:0px;
    margin-right:0px;
    padding-left: 10px;
    padding-right: 10px;
}

.yms-black-list .black-list-container {
    margin-top: 20px;
    padding-top: 20px;
}
.yms-black-list .black-list-container .row{
    border-bottom:1px solid #EEE5E5;
    /*height:60px;*/
    /*line-height: 60px;*/
}

.yms-black-list .black-list-container .row>span{
    padding-top:22px;
    /*line-height: 60px;*/
}


.yms-black-list .black-list-container .row>span:nth-child(1)
{
    padding-top:18px;
    padding-right: 15px;
    width:30px;
    float:left;
    color:#32c5d2;
    /*padding-top:5px;*/
    /*padding-right:0px;*/
}

.mt-step-title .fa-item.right-icon {
    float:right;
    padding-bottom:0;
    background-color: inherit;
}


.mt-step-title .fa-item .fa.large-icon {
    font-size:36px;
    color:inherit;
}

fieldset.bordered {
    border: 1px solid #e7ecf1 !important;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
}

.panel.bordered {
    border:1px solid #e7ecf1;
}

.panel .panel-heading .portlet {
    margin-bottom: 0;
    padding:0;
    background-color: inherit;
}

fieldset .portlet.light {
    padding: 12px 20px 0px 20px;
    margin-bottom: 0px;
}

.portlet-title.thin-time {

}

.dropzone .group-true {
    border-radius: 10px;
    padding:8px 8px;
    background-color:#FAF9F9;
}

.dropzone .group-false {
    border-radius: 3px;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 5px 0px;
}


.dropzone .orderless-group-false {
    border-radius: 3px;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 8px 0px;

}

.dropzone .orderless-group-true {
    border-radius: 10px;
    padding: 8px 8px;
    background-color:#FAF9F9;
}

#user-tags .tag-label-input {
    width: 300px;
    display: inline;
    margin-right: 20px;
}

#user-tags .tag {
    padding: 15px 0;
}

#user-tags .tag .label {
    font-size: 16px;
    padding: 10px;
    min-width: 150px;
    display: inline-block;
}

#user-tags .tag .material-icons{
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
    float: right;
}

.parking-list-container .parking-group-title{
    margin-bottom: 15px;
}

.parking-list-container .parking-group-date{
    margin-bottom: 10px;
}

.extend-icon {
    padding-right: 10px;
}
.extend-icon::before {
    /*top: 10px;*/
    /*left: 4px;*/
    height: 16px;
    width: 16px;
    display: inline-block;
    /*position: absolute;*/
    color: white;
    /*border: 2px solid white;*/
    border: 0;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    font-weight: 300;
    /*box-shadow: 0 0 3px #444;*/
    box-shadow: none !important;
    /*box-sizing: content-box;*/
    content: '+';
    background-color: #b0c1d2;
}

.icon-extend-state::before {
    background-color: #36c6d3;
    content: '-';
}

.add-parking .edit-form label {
    font-weight: 600;
}

.order-sorting {
    position: relative;
    background: url(../img/sort_both.png) center right no-repeat;
    cursor: pointer;
}
.order-sorting-asc {
    background: url(../img/sort_asc.png) center right no-repeat;
}
.order-sorting-desc {
    background: url(../img/sort_desc.png) center right no-repeat;
}
#user-appointment .calendar-title {
    font-size: 24px;
}
#user-appointment .calendar-title .btn {
    box-shadow: none;
    background-color: #fff;
}
#user-appointment .cal-day-tick .fa {
    display: none;
}
#user-appointment .appointment-actions {
    float: right;
    margin-top: -40px;
}
.loader-inner > div {
    background: orange;
}

.upload-file-item {
    padding:5px;
    width:200px;
    display: inline-block;
    background-color: #E1E5EC;
    margin-right:10px;
    margin-bottom: 5px;
    position: relative;
}

.upload-file-item .file-name {
    font-size:14px;
    /*height: 16px;*/
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    position: absolute;
    left: 41px;
    top: 18px;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}


.uib-datepicker.well {
    padding: 9px;
}
.uib-datepicker .text-info {
    color: #555;
}
.uib-datepicker td {
    padding: 2px;
}
.uib-daypicker {
    outline: 0;
}
.uib-daypicker .btn.btn-sm {
    padding: 9px 14px 8px 14px;
}

#wms-appointment .time-list .btn {
    padding: 9px 9px 8px; 
    min-width: 100%;
}
#wms-appointment .time-list .add {
    position: absolute; 
    top: -10px; 
    right: 8px; 
    cursor: pointer;
}
#wms-appointment .time-list .unavailable .add {
    display: none;
}

div.paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}


.feeds li.feed-label {
    display:inline-block;
    margin: 5px 5px;
    padding: 2px 10px;
    border-radius: 3px;
    background-color: rgb(246, 243, 232);
    color:black;
}

.feeds li.feed-label.feed-label.green {
    background-color:forestgreen;
    color: white;
}

.feeds li.feed-label.feed-label.red {
    background-color:darkred;
    color: white;
}

.feeds li.feed-label.feed-label.yellow {
    background-color:lightgoldenrodyellow;

}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    visibility: visible;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: auto;
}

.md-dialog-container {
    z-index:  9999;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.modalDialog-close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.sop-organization-list {
    background-color: #c0edf1;
    display:inline-block;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 3px;
}

.modalDialog-close:hover { background: #00d9ff; }

.pick-task-item-assign-qty-full {
    background-color: #E08283;
}
.pick-task-item-assign-qty-success {
    background-color: rgba(75, 172, 140, 0.63);
}
.pick-task-item-assign-qty-default{
    background-color: rgba(135, 117, 167, 0.05);
}


.tempAdjustmentTxt {
    background: #36c6d3; color: #fff; padding: 3px 5px; margin-right: 5px; font-size: 10px;
}
.trueAdjustmentTxt {
    background: #f9a18e; color: #fff; padding: 3px 5px; margin-right: 5px; font-size: 10px;
}
.adjustmentDeleteBtn {
    color: red; font-size: 24px; float: right; cursor: pointer; margin-top: 5px;
}
.adjustmentStatus {
    float: right; margin-right: 10px; font-size: 14px; padding: 0px 5px; line-height: 20px; margin-top: 5px;
}
.adjustmentStatus.new {
    background: #a2a92b; color: #fff;
}
.adjustmentStatus.exception {
    background: #f5b3b7;
    color: red;
}
.adjustmentStatus.close {
    background: #ddd;
}
.adjustmentStatus.complete {
    background: #00A000; color: #fff;
}
.adjustmentApprove {
    float: right; margin-right: 10px; font-size: 16px; font-weight: bold;
}
.adjustmentApprove:hover {
    color: #BB6622;
}
.adjustmentTab {
    border: 1px solid #ddd; padding-top: 3px; background: #EFEFEF; height: 220px;
}
.adjustmentTab .tabPanel {
    background: #fff; padding: 10px 20px; height: 170px;
}
.adjustmentBottomBorder {
    border-bottom: 1px dashed #ddd; height: 30px;
}
.adjustQtyError {
    color: red; font-weight: bold;
}

.checkList .checkListBox {
    height: 35px; padding: 6px 10px; border: 1px solid #ccc; border-radius: 3px; cursor: pointer;
}
.checkList .checkListBox:hover {
    background: #E6E6E6;
}
.checkList .checkTip {
    background: #428BCA; padding: 3px 5px; border: 1px solid #428BCA; border-radius: 10px; color: #fff;
}
.checkList .checkListContent {
    max-height: 210px; width: 90%; overflow: auto; position: absolute; margin-top: 1px; border: 1px solid #ccc; border-radius: 3px;
    background: #fff; z-index: 1;
}
.checkList .checkItem {
    padding: 5px 10px;
}
.checkList .checkItem:hover {
    background: #F5F5F5;
}

.iconBtnBox {
    padding: 5px 15px; border: 1px solid #ddd; border-radius: 5px; float: right; cursor: pointer; margin-bottom: 5px;
}

.item-line-diverse-container {
   background-color: rgba(93, 204, 214, 0.188235);
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}


.facilityAdvanceTable td {
    padding-right: 10px; padding-bottom: 10px;
}

.location-style {
    margin-left: 5px;
    padding: 5px;
    white-space: normal;
    line-height:30px;
 }

.text-pre {
    white-space:pre;
}

.label-background-right {
    background-color: #c0edf1;
}
.label-background-wrong {
    background-color: rgb(241, 192, 201);
}

.sortable-item-item-text {
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    padding: 2px 1px;
    display: block;
}

.tableTrSelStyle {
    background: #f6d119 !important;
}
.tabbable-custom > .nav-tabs > li.active1 {
    border-top: 3px solid #356289;
    background-color: #ffffff;
}

.delTxt {
    text-decoration: line-through;
    color: #888;
    background: #ccc !important;
}
.menu-li-content {
    width: 50%;
    text-align: center;
    display: inline-block;
}
.menu-li-top {
    padding: 5px 0px;
    display:inline-block;
    font-weight: 600;
    width: 100%;
}

.header-cf-font {
    color:#7abfe1;
    font-weight: 500;
}

*{
    outline:none;
}

.tools {
    padding: 10px 0 13px;
    float: right;
    display: inline-block;
}

.expand-a {
    display: inline-block;
    height: 16px;
    width: 14px;
}
.expand-a.expand{
    background-image: url(../img/portlet-expand-icon.png);

}
.expand-a.collapse{
    background-image: url(../img/portlet-collapse-icon.png);

}
.expand-a.expand-new{
    background-image: url(../img/portlet-expand-icon-new.png);
    background-size: 12px;
    background-repeat: no-repeat;
}
.expand-a.collapse-new{
      background-size: 16px;
      background-repeat: no-repeat;
      background-image: url(../img/portlet-collapse-icon-new.png);

}
.receive-task-lp-detail {
    border: 1px solid rgb(231, 236, 241);
    margin-top: 10px;
    padding-top: 15px;
}
.receive-task-lp-detail .head {
    color: #19989f;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}
.receive-task-lp-detail .content {
    margin-bottom: 10px;
    text-align: center;
}


.select-load-receipt-head {
    background: #ddd; padding: 10px; color: black;
    margin: -3px -20px 5px -20px; cursor: default;
}
.task-head-style {
    padding: 0px 20px 10px 20px !important;
    margin: 20px -45px 0px -45px;
    min-height: 5px !important;
}
.task-head-style .caption, .task-head-style .actions {
    padding: 3px 0px 0px 0px !important;
}
.task-head-content-style {
    background: #EFEFEF; margin: -10px -45px 10px !important; padding: 10px 20px;
}

.userSelect .selectedUser {
    height: 35px; padding: 6px 10px; border: 1px solid #ccc; border-radius: 3px; cursor: pointer;
    background: white;
}
.userSelect .selectedUser:hover {
    background: #E6E6E6;
}
.userListContent {
    min-height: 210px; width: 400px; position: absolute; margin-top: 1px; border: 1px solid #ccc; border-radius: 3px;
    background: #fff; z-index: 1;
    overflow-x: hidden; overflow-y: auto;
}
.userListContent .userFilterContent {
    border-bottom: 1px solid #ccc; background: #EFEFEF;
    padding: 5px;
}
.userListContent table {
    width: 100%;
}
.userListContent td {
    padding: 3px;
}
.userListContent .userItemsContent {
    max-height: 200px;
    overflow: auto;
    padding: 5px;
}
.userListContent .userItemsContent .userItem {
    padding: 5px 10px;
}
.userListContent .userItemsContent .userItem:hover {
    background: #F5F5F5;
}
.userListContent .userItemsContent .userItemSel {
    background: #428bca !important;
    color: white;
}

.errorMesg {
    float: left; color: red; width: 450px; text-align: left; padding-left: 20px;
}

.icon-hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.icon-hover:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
.fade_image {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.fade_image:hover, .fade_image_hover {
    opacity:0 !important;
    filter: alpha(opacity=0) !important;
}





#support-modal .modules {
    margin: auto;
    list-style-type:none;
    max-width: 1000px;
}
#support-modal .modules li {
    float: left;
    width: 160px;
    margin-bottom: 20px;
}
#support-modal .modules li a {
    text-decoration: none;
    border: 2px solid #eee;
    border-radius: 4px;
    display: block;
    padding: 0px 0px 10px;
    width: 85%;
    text-transform: uppercase;
    margin: auto;
    background: #aaa;
    height: 130px;
}
#support-modal .modules li a span {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    height: 70px;
    margin-bottom: 15px;
    padding-top: 30px;
}
#support-modal .modules li a:hover, #support-modal .modules li a.active {
    background-color: #4D7F89;
    color: #FFFFFF;
}



#sso-landing {
    background-image: linear-gradient(226deg, #ced7e4, #97b9c8);
    height: 100%;
    font-family: AvenirNext;
}

#sso-landing .app-header {
    margin:0 auto;width:615px;height:50px; border-radius: 5px;background-color: #4a4a4a;
}

#sso-landing .app-header .title {
    margin-left:53px;
    padding-top:11px;
    margin-bottom:12px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.1px;
    color: #ffffff;
    text-transform:uppercase;
}
#sso-landing .app {
    margin-right:10px;
    background-color: #ffffff;
    border-radius: 5px;
}

#sso-landing .app.right {
    margin-left:10px;
    margin-right:0;
}

#sso-landing .app .app-name {
    height:90px;
    padding:15px 0;
}

#sso-landing .app-name span {
    vertical-align: middle;
    margin-left:10px;
    font-weight: 600;
    letter-spacing: 1.3px;
    color: #333333;
}

#sso-landing .app-desc {
    font-size: 16px;
    letter-spacing: 0.3px;
    text-align: center;
    color: rgba(51, 51, 51, 0.7);
}

#sso-landing .app .btn {
    width:130px;
    color:#fff;
    border-radius: 5px;
    background-color: #4a4a4a;
}


#sso-landing .bulletin-title {
    margin:0 auto;
    margin-right:143px;
    height:50px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    background-color: #4a4a4a;
}

#sso-landing .bulletin-title>div {
    margin-left:53px;
    padding-top:11px;
    margin-bottom:12px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.1px;
    color: #ffffff;
    text-transform:uppercase;
}

#sso-landing .bulletin-desc {

    margin-right:143px;
    background-color: #ffffff;
    padding:47px 50px 47px 50px;
}

#sso-landing .bulletin-desc p.date {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-bottom:6px;
    color: rgba(51, 51, 51, 0.7);
}

#sso-landing .bulletin-desc p.content {
    margin-top:0px;
    font-size: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #333333;
}

#sso-landing .page-header-inner .dropdown-user .dropdown-toggle:hover {
    background-color: transparent;
}

#sso-landing .page-header-inner .user-dropdown:hover .dropdown-menu, #sso-landing .page-header-inner .user-dropdown .dropdown-menu:hover {
    display: block !important;
}

#sso-landing .page-header-inner .dropdown-user .dropdown-menu {
    margin-top:27px !important;
}

#sso-landing .tools li>a{
    margin-left:125px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
    color: #333333;
    text-decoration: underline;
}
.portlet.light {
    padding: 5px 20px 10px 20px;
}
.portlet.light > .portlet-title {
    min-height: 40px;
}
.portlet.light > .portlet-title > .actions {
    padding: 6px 0 10px 0;
}
.row-text {
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 5px;
}
.itemLine_noMatch {
    /*border-color:red;*/
    background-color: rgba(243, 31, 31, 0.5);
}
.font-green {
    color: green !important;
}

.top-blue-color{
    border-top: 3px solid #36c6d3 !important;
}
md-checkbox:not([disabled]).light-blue.md-checked .md-icon{
    background-color: #36c6d3;
   }