html {
    font-size: 100%;
}



#unis input {
    box-shadow: inset 0 1px 4px 0 rgba(51, 51, 51, 0.5) !important;
}

#unis b {
    font-weight: bold;
}

#unis .row {
    overflow: visible;
}

#unis .text-center{
    text-align: center;
}


#unis .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#unis .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}


#unis .create-button {
    float:right;
    font-size: 16px;
}

#unis .button-between {
    margin-left: 15px;
}

#unis button.cancel {
    background-color: #77868c;
}

#unis .second-title {
    line-height: 35px;
    font-size: 1.2em;
    font-weight: 600;
}

/** angular validator **/
#unis form.ng-submitted.ng-invalid input.ng-invalid,
#unis form.ng-submitted.ng-invalid textarea.ng-invalid,
#unis form.ng-submitted.ng-invalid select.ng-invalid,
#unis form.ng-submitted.ng-invalid div.ng-invalid,
#unis input.ng-invalid.ng-touched,
#unis div.ng-invalid.ng-touched,
#unis textarea.ng-invalid.ng-touched,
#unis .pack-input-item-full{
    border-color: #e73d4a !important;
}

#unis form.ng-submitted.ng-invalid input.ng-invalid:focus,#unis form.ng-submitted.ng-invalid textarea.ng-invalid:focus{
    border-color: #e73d4a;
    outline-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px #e73d4a;
    box-shadow: inset 0 1px 1px rgba(0 , 0, 0, .075), 0 0 1px #e73d4a;
}

#unis form.ng-submitted.ng-invalid.form-control {
    border-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}


#unis tags-input.ng-invalid .tags.focused {
    border-color: #00b3ee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#unis tags-input.ng-invalid .tags {
    border-color: #ccc;
    -moz-box-shadow: none;
    box-shadow: none;
}

#unis form.ng-submitted tags-input.ng-invalid .tags.focused {
    border-color: #e73d4a;
    outline-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px #e73d4a;
    box-shadow: inset 0 1px 1px rgba(0 , 0, 0, .075), 0 0 1px #e73d4a;
}

#unis form.ng-submitted  tags-input.ng-invalid .tags {
    border-color: #e73d4a;
    outline-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px #e73d4a;
    box-shadow: inset 0 1px 1px rgba(0 , 0, 0, .075), 0 0 1px #e73d4a;
}


/**  validation tool tip ***/

#unis .lt-tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 3px 8px;
    opacity: 0.7;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    transition: opacity .15s linear;
    /* Position the tooltip */
    position: absolute;
    bottom: 150%;
    margin-bottom: 5px;
    margin-left: -167px;
}

#unis .lt-tooltip:hover .lt-tooltip-text {
    visibility: visible;
}

#unis .lt-tooltip.has-error {
    color:#e73d4a;
}

#unis .lt-tooltip .lt-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 83%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

#unis .lt-tooltip {
    right: 35px;
    top:8px;
}



/**
  UI Select Customize
  **/
#unis .ui-select-choices-row-inner {
    padding: 1px 8px;
    line-height: 30px;
    font-size: 14px;
}

#unis .ui-select-container .btn-default-focus {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
    text-decoration: none;
    outline: 0;
    outline-offset: 0px;
    box-shadow: none;
}

#unis .ui-select-container .ui-select-match{
    height: 26px;
}
#unis .ui-select-container .ui-select-match span.ui-select-toggle {
    background: #fff url(../svg/dropdown-light-white.svg) no-repeat right 0 top 0px;
    height: 26px;
    padding-left: 6px;
    line-height: 26px;
    font-size: .875rem;
}

#unis .ui-select-container{
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 4px 0 rgba(51, 51, 51, 0.5) !important;
    /* border: solid 1px rgba(51, 51, 51, 0.1) !important; */
    height: auto;
    padding: 2px 2px 0px 2px;
}

#unis .ui-select-container input{
    height: 26px;
    line-height: 26px;
    padding-left: 8px;
    margin-bottom: 0;
    box-shadow: none !important;
    border: none !important;
}

#unis .light-theme .ui-select-choices-row-inner:hover {
    background-color: rgba(76, 147, 159, 0.2);
}

#unis .light-theme .ui-select-choices-row.active>span {
    background-color: rgba(77, 127, 137, 0.84);
}

#unis .glyphicon {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#unis .glyphicon-remove {
    top: 3px;
    margin-right: 10px;
}

#unis .ui-select-multiple span.ui-select-match-item.btn{
    text-transform: none;
    line-height: 1.44;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 8px 3px 8px;
    border-radius: 2px;
    border-width: 0!important;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
    outline: 0!important;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /*touch-action: manipulation;*/
    cursor: pointer;
}

#unis .ui-select-multiple span.ui-select-match-item .close{
    margin-top: 2px;
    margin-left: 6px;
    font-size: 2em;
    line-height: .75;
    opacity: 0.5;
    display: inline-block;
}

#unis .close:hover, #unis .tag-list{
     color: #000;
     cursor: pointer;
     opacity: .5;
}

/** auto complete **/
#unis .ui-autocomplete {
    background-color: #ffffff;
    z-index: 999999;
}
#unis .ui-menu .ui-menu-item:hover{
   background-color: rgba(76, 147, 159, 0.2);
}

#unis .ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}


.hide {
    display:none;
}


/**** time picker **/

#unis .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
#unis .input-group[class*="grid-"] {
    float: none;
    padding-right: 0;
    padding-left: 0;
}
#unis .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
#unis .input-group .form-control:focus {
    z-index: 3;
}

#unis.input-group-addon,
#unis.input-group-btn,
#unis.input-group .form-control {
    display: table-cell;
}

#unis .input-group-addon:not(:first-child):not(:last-child),
#unis .input-group-btn:not(:first-child):not(:last-child),
#unis .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
#unis .input-group-addon,
#unis .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

#unis .datetimepicker {
    display: block;
    position: absolute;
    z-index: 1000;
}

#unis .datetimepicker.dropdown-menu {
    display: none;
}

#unis .datetimepicker .table-condensed th, #unis .datetimepicker .table-condensed td {
    border-radius: 0;
}

#unis .datetimepicker .table-condensed td {
    background-color: #1d1d1d;
} 

/**  fontawson **/

#unis .fa {
    display: inline-block !important;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

#unis .label-input-card p {
    word-break: break-all;
}

#unis .card-view-actions {
    display: inherit;
}


/** pagger **/
#unis ul.pagination {
    display: inline-block;
    visibility: visible;

    float:right;
    margin: 0;
    list-style: none; }

#unis .pagination>li {
    display: inline-block;
}

#unis .pagination>li>a {
    padding: 5px 10px;
}

/** paging light theme **/
#unis .light-theme .pagination>li {
    border: 1px solid #dedfe1;
}

#unis .light-theme .pagination>li:hover {
    background-color:rgba(151, 189, 196, 0.5);
}


#unis .card-row {
    min-height: 370px;
}

/** customize timeline **/

#unis .timeline:before {
    position: inherit
}

#unis .timeline-info {
    font-size: 18px;
}

#unis .timeline-title {
    color: #79899a;
    margin-bottom: 5px;
}


/*** card style **/

#unis .card {
    margin-top:10px;
    margin-bottom: 10px;
}

#unis .card-row {
    text-align: inherit;
}

#unis  .expanded {
    transform: rotate(180deg);
    margin: 0 auto;
    content:url("../svg/dark/icon-keyboard-arrow-down-dark.svg");
}


/** dialog **/
#unis md-toolbar .fa-times {
    color:#4d7f89;
}

#unis b {
    font-weight: bold;
}


/*** md-dialog **/

#unis md-toolbar, #unis .md-toolbar-tools {
    min-height: 0;
    height: auto;
    max-height: inherit;
}

#unis  .md-toolbar-tools{
    background-color: rgb(233, 233, 233);
    padding: .4em 1em;
    color: black;
}
#unis input[type="checkbox"] + .checkbox span.text {
    float: right;
    padding-left: 10px;
    font-size: 1rem;
    padding-top: 5px;
}

#unis div.mt-element-ribbon {
    background: #e9edef!important;
    padding: 20px;
    position: relative;
}

#unis md-dialog-content {
    padding: 20px;
    overflow: hidden;
}

/*** tags-intpu **/


#unis tags-input div.tags {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0px;
    min-height: 28px;
    box-shadow: inset 0 1px 4px 0 rgba(51, 51, 51, 0.5);
}

#unis tags-input div.tags.focused {
    box-shadow: inset 0 1px 4px 0 rgba(51, 51, 51, 0.5);
}

#unis div.tags input.input{
    border: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
    outline: none;
    margin-bottom: 0px;
    padding: 0 0 0 3px;
}

#unis .tags.focused {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow: none;
}

#unis tags-input .tag-item {
    padding: 2px 5px 2px 5px;
    margin:2px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
}

#unis tags-input .tag-list {
    opacity: 1;
}

#unis .light-theme  tags-input .tag-item{
    background-color: #ffffff;
    color: black;
}

#unis .form-horizontal .label-input {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}


/*****nab-tab**/
#unis .nav-tabs>li {
    float: left;
    display: block;
    position: relative;
}
#unis .nav-tabs>li>a {
    padding: 12px 13px 13px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #737373;
}

#unis .nav-tabs>li.active {
    border-bottom: 4px solid #36c6d3;
    position: relative;
}
#unis .nav-tabs>li:hover {
    border-bottom: 4px solid #9fe4ea;
}

#unis .nav-tabs>li.active>a {
    color: #333;
}
#unis .nav-tabs>li:hover>a {
    color: #333;
}


/***customer relationShip left tab list****/
#unis .ver-inline-menu li a {
    font-size: 14px;
    font-weight: 300;
    color: #557386;
    display: block;
    background: #f0f6fa;
    border-left: solid 2px #c4d5df;
}
#unis .ver-inline-menu li {
    position: relative;
    margin-bottom: 1px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#unis .ver-inline-menu li.active a, #unis .ver-inline-menu li:hover a {
    font-size: 14px;
}

#unis .ver-inline-menu li:hover a {
    background: #e0eaf0;
    text-decoration: none;
}

#unis .ver-inline-menu li.active a {
    border-left: solid 2px #4d828d;
}

#unis .ver-inline-menu li.active a, #unis .ver-inline-menu li:hover a {
    font-size: 14px;
}

#unis .ver-inline-menu li i {
    width: 37px;
    height: 37px;
    display: inline-block;
    color: #b9cbd5;
    font-size: 15px;
    padding: 12px 10px 10px 8px;
    margin: 0 8px 0 0;
    text-align: center;
    background: #e0eaf0;
}

#unis .ver-inline-menu li.active a, #unis .ver-inline-menu li.active i {
    color: #fff;
    background: rgb(159, 185, 192);
    text-decoration: none;
}

#unis .ver-inline-menu li.active i {
    background: rgba(77, 127, 137, 0.87) !important;
}


#unis .ver-inline-menu li.active:after {
    content: '';
    display: inline-block;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid rgba(77, 127, 137, 0.87);
    position: absolute;
    top: 12px;
    right: -5px;
}

/****md-switch******/
#unis .light-theme md-switch.md-default-theme.md-checked.md-primary .md-bar, #unis .light-theme md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(77, 127, 137, 0.4);
}
#unis  .light-theme md-switch.md-default-theme.md-checked.md-primary .md-thumb, #unis .light-theme md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(77, 127, 137);
}


/**** waiting btn ***/

#unis .fix-width-btn {
    width: 100px;
}


/* window checkin list */
#unis .card-view p {
    padding: 5px 0;
}
#unis .card-label-input {
    font-family: AvenirNext-DemiBold;
    font-size: 14px;
    font-weight: 600;
}

#unis .card-tab-container ul {
    list-style-type: none;
    font-size: 0;
}

#unis .card-tab-container li.active {
    background-color: #5d5d5d;
    color: #ffffff;
}
#unis .card-tab-container li:first-child {
    border-radius: 5px 0px 0px 0px;
    border-left: solid 1px #5d5d5d;
    text-align: center;
    font-size: 15px;
}

#unis .card-tab-container li:last-child {
    border-radius: 0px 5px 0px 0px;
    border-right: solid 1px #5d5d5d;
    text-align: center;
    font-size: 15px;
}

#unis .card-tab-container li {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: white;
    font-size: 12px;
    color: #5d5d5d;
    border-top: solid 1px #5d5d5d;
    border-bottom: solid 1px #5d5d5d;
    border-right: solid 1px #5d5d5d;
    cursor: pointer;
    padding: 7px 0;
}

#unis .card-table, .card-table-modal, .card-table-modal-nested, .card-table-modal-nested-lp, .card-table-modal-nested-locations {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    color: #5d5d5d;
    border: none;
    font-family: AvenirNext-DemiBold;
    font-size: 14px;
    font-weight: 500;
}
#unis .card-table.active {
    display: inline-table;
}
#unis .card-table {
    display: none;
}
#unis .card-table thead th, .card-table-modal thead th, .card-table-modal-nested thead th, .card-table-modal-nested-lp thead th, .card-table-modal-nested-locations thead th {
    height: 40px;
    background-color: #5d5d5d;
    color: #ffffff;
    vertical-align: middle;
    min-width: 50px;
    border-radius: 0px !important;
    text-align: center;
}

#unis .card-table tbody td, .card-table-modal tbody td {
    text-align: center;
    height: 50px;
    vertical-align: middle;
}


/* monitor */

#unis .background-Overlay{
     background-color: rgba(255, 255, 255, 0.3);
}
#unis .Top-Bar {
   padding: 10px 50px;
    height: 80px;
    background-color: #ffffff;
   box-sizing: border-box;
}
#unis .Valley {
  font-family: ProximaNova;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #333333;
  color: var(--black);
}

#unis .F-type {

  font-family: ProximaNova;
  font-size: 22px;
  text-align: left;
  color: #333333;
  color: var(--black);
}
#unis .Rectangle {
 
  height: 368px;
  border-radius: 2px;
  background-color: #ffffff;
}
#unis .Rectangle-assign {

  height: 424px;
  border-radius: 2px;
  background-color: #ffffff;
}

#unis .rec-title{
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    border-bottom: solid 1px #5f5d5d;
}

#unis .f-left{
   display: inline-flex;
    float: left;
}

#unis .f-right{
    display: inline-flex;
    float:right;
}

#unis .monitor-table,#unis .monitor-overview-table,#unis .monitor-progress-table {
        width: 100%;
    }

#unis .monitor-progress-table tbody > tr:nth-child(even),#unis .monitor-overview-table tbody > tr:nth-child(even){
         
        background-color: rgba(0, 92, 151, 0.1)!important; 
}

#unis .monitor-overview-table thead,#unis .monitor-progress-table thead  {
        background: #fff !important;
        color: #000 !important;
        border-bottom: 1px solid #5f5d5d;
    }

#unis .monitor-overview-table thead>tr>th {
            text-align: left;
            height: 50px;
           line-height: 50px;    
    }

#unis .monitor-overview-table tbody>tr {
            text-align: left;
            height: 60px;
            line-height: 60px;
         
    }
#unis .monitor-overview-table thead>tr>th:first-child, #unis .monitor-overview-table tbody>tr>td:first-child {
        padding-left: 15px;
    }
  

#unis .monitor-progress-table thead>tr>th {
            text-align: left;
            height: 54px;
           line-height: 54px; 
           width: 10%;   
    }

#unis .monitor-progress-table thead>tr>th:first-child, #unis .monitor-progress-table tbody>tr>td:first-child {
        padding-left: 20px; 
    }
  
#unis .monitor-progress-table tbody>tr {
            text-align: left;
            height: 40px;
            line-height: 40px;     
    }

#unis  .Rectangle-summer {
 box-sizing: border-box;
  height: 103px;
  -webkit-backdrop-filter: blur(5px);
  background-color: #ffffff;
  padding: 0px 30px
}
 #unis .Rectangle-pickup{
     text-align: center;
  display: inline-block;
  width: 130px;
  height: 36px;
  border-radius: 4px;
  background-color: #1e6899;
  color: #fff;
  line-height: 36px;
 
}
#unis .Rectangle-dropoff {
      text-align: center;
  display: inline-block;
  width: 130px;
  height: 36px;
  border-radius: 4px;
  background-color: #0a5425;
  color: #fff;
  line-height: 36px;
}

#unis .line-H34{
     line-height: 34px;
      height: 34px;
}
#unis .progress-title{
    height: 45px;
    line-height: 45px;
    padding: 0px 18px;
    border-bottom: solid 1px #5f5d5d;
}

#unis .Rectangle-progress {
  min-height: 270px;
  border-radius: 2px;
  background-color: #ffffff;
}

#unis .Rectangle-pie {
    display: inline-block;
  width: 42px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #000;
}

#unis .boundsvg {
  width: 22.5px;
  height: 20px;
  object-fit: contain;
}

  #unis .fontred {
        color: red !important;
    }
#unis .font-green {
    color: green !important;
}

    #unis .piesvg {
        width: 20px;
        height: 35px;
        display: inline-block;
        transform: rotate(-90deg);
    }

    #unis svg {
        border-radius: 50%;
    }

    #unis circle {
        fill: #eaeaea;
        stroke: yellowgreen;
        stroke-width: 32;
    }

    #unis .square {
        width: 24px;
        height: 24px;
        float: left;
    }

    #unis .bg-orange {
        background-color: #FAAD28;
    }

    #unis .bg-green {
        background-color: #2ABE14;
    }

    #unis .bg-purple {
        background-color: #A34EDD;
    }

    #unis .bg-blue {
        background-color: #2C7CFF;
    }

    #unis .bg-red {
        background-color: #FF3900;
    }

    #unis .square-lable {
        line-height: 15px;
        padding-left: 21px;
    }
    #unis .exception-color >td{
        color: #d02828 !important;
        /* background: #d02828  !important; */
    }

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {

        width: auto;
        min-width: 100%;
    }

    /* line haul monitor */

    #unis .pdt-36{
        padding-top: 36px !important;
    }

    #unis .pd-0{
        padding: 0px !important;
    }
    #unis .haul-img{
        width: 25px;
        height: 25px;
    }
    #unis .haul-title{
        line-height: 30px;
        text-align: center;
        padding-top: 10px;
    }
    #unis .rect{
        width:100%;
        height:100%;
       
    }
    #unis .haul-rect{
       width:13%;
       height:160px;
       border:2px solid #827d7d;
       display:inline-block;
       margin-right: 1.5%;
       padding: 0px; 
       position:relative;
    }
    #unis .border-white{

        border:2px solid #FFF;
 
    }

    #unis .border-red{
        border:2px solid red;

    }


    #unis .haul-rect-fina{
        width:13%;
         height:160px;
         border:2px solid #827d7d;
         display:inline-block; 
         padding: 0px;
          position:relative;
    }
    #unis .haul-rect-container{
         position:absolute;
         left:0;
         right:0;
         top:0;
         bottom:0;
         padding: 5px;
         font-size: 15px;
         font-weight: 800;
         overflow: hidden;
    }
    #unis .haul-img-drink{
        width: 40px;
        height: 40px;
        margin-top: -10px;
        margin-right: -8px;
    
    }
  
    #unis .text-m {
        position:relative;
        /* line-height:1.5em; */
        /* 高度为需要显示的行数*行高，比如这里我们显示两行，则为3 */
        height:4em;
        overflow:hidden;
    }
    #unis .text-m:after {
        content:"...";
        position:absolute;
        bottom:0;
        right:0;
        padding: 0 5px;
        /* background-color: #fff; */
    }
    #unis .simple-p {
        overflow: hidden;
     text-overflow: ellipsis;
    white-space: nowrap;
}

    #unis .panel {
        box-shadow: 0 1px 3px rgba(183, 204, 208, 0.27), 0 1px 2px rgb(183, 204, 208);
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 4px;
    }

    #unis .panel-heading {
        color: #333;
        background-color: rgba(183, 204, 208, 0.28);
        border-color: #b7ccd0;
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    #unis .panel-title {
        font-size: 16px;
    }
 /* 时间插件控制定位 */
.fixed{
    position: fixed !important;
    left: 0;
    right: 0;
}


#unis .menu-button {
    position: fixed;
    right: 42px;
    bottom: 0.1em;
    z-index: 1000;
    background: #babd90;;
    color: #ffffff;
    display: inline-block;
    padding:10px  20px;
    outline: none;
    text-decoration: none;
    font-weight: 800;
    border-radius: 50px/50px;
    cursor: pointer;
}

#unis .menu-wrap {
    position: fixed;
    z-index: 999;
    background: #ebedf4;
    font-size: 1.5em;
    right: 22px;
    bottom: 0.1em;
    opacity: 0;
    padding: 20px 20px 10px 20px;
    display: none;
}


#unis .link-list {
    font-size: 0.65em;
    padding: 15px 0;
    margin: 0px 10px 40px 10px;
    min-width: 100px;
}

#unis .link-list div {
    margin: 0.25em 0;
    color: inherit;
    padding: 0.5em 0px;
    font-weight: 700;
    vertical-align: middle;
}

#unis .link-list div>span{
    display: block;
    text-align: left;
}
#unis .menu-wrap.show-menu {
    opacity: 1;
    -webkit-transition: opacity 0.01s 0.01s;
    transition: opacity 0.01s 0.01s;
    display: block;
}

#unis .border-color{
    border: 2px solid #3971c3; 
}

#unis .border-lr-color{
    border-left: 2px solid #3971c3;
    border-right: 2px solid #3971c3;
}
#unis .border-top-color{
    border-top: 2px solid #3971c3;
    
}
#unis .border-botton-color{
    border-bottom: 2px solid #3971c3;
  
}

#unis .case-high-light{
    background-color: #d8b474  !important;
}
#unis .peice-high-light{
    background-color: #9dbb54 !important;
}

#unis .color-yellow{
    color: #d8b474;
}

#unis .color-reds{
    color:rgb(204, 17, 17);
}


#unis .week-day-content {
    position: absolute; top: 120px; left: -50px; z-index: 1; padding: 5px 0px; border: 1px solid #ccc;
    background: #F5F5F5; opacity: 0.5;
    border-radius: 0px 10px 10px 0px;
}
#unis .week-day-content-show {
    left: 0px !important;
    opacity: 1 !important;
}
#unis .week-day-content .week-day-item {
    cursor: pointer;
    padding: 5px;
}
#unis .week-day-content .week-day-item:hover {
    background: #ddd;
}
#unis .week-day-content .selected {
    background: #ddd;
}

#unis .line-haul-content {
    position: absolute; top: 120px; left: 115px; z-index: 1; padding: 5px 0px; border: 1px solid #ccc;
    background: #F5F5F5;
    border-radius: 0px 10px 10px 0px;
}
#unis .line-haul-content .line-haul-item {
    cursor: pointer;
    padding: 5px;
}
#unis .line-haul-content .line-haul-item:hover {
    background: #ddd;
}
#unis .line-haul-content .selected {
    background: #ddd;
}


.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#unis .material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    }

#unis .font-blue {
    color: #3598dc!important;
    }
    