<!-- <header class="page-header navbar navbar-fixed-top"></header> -->
<!-- END HEADER -->
<div class="clearfix"> </div>
<!-- BEGIN CONTAINER -->
<div class="container-fluid page-container home-page">
    <div class="row">
        <h2>Welcome to WISE</h2>
    </div>

    <div>
        <iframe id="androidApk" src="" name="androidApk" style="width: 1px; height: 1px; visibility: hidden;"
                marginwidth="0" marginheight="0" frameborder="0" scrolling="No"></iframe>

        <div id="androidMark" title="Download android apk" style="height: 36px; width: 22px; cursor: pointer; float: right;
            background: #F5F5F5 url('assets/img/android.png') no-repeat; border-radius: 10px 0px 0px 10px"></div>

        <div id="androidLink" style="float:right; border-radius: 20px 0px 0px 20px; padding: 5px 20px 5px 15px;
            background: #F5F5F5; margin-right: -160px; display: none;">
            <span class="material-icons" style="float: left; color:forestgreen; font-size:36px; padding-right: 10px;">android</span>
            <a href="android/lt-app.apk" target="androidApk" style="padding-top: 8px; float: left; display: block;">DOWNLOAD</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="col-md-4 col-sm-6" *ngFor="let module of modules">
                <a class="md-button md-raised" href="{{module.entryUrl}}" aria-label="Button">
                    <span><i class="{{module.iconClass}}">{{module.iconText}}</i> {{module.label}}</span>
                    <div class="md-ripple-container"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<!-- <footer class="footer"></footer> -->
