<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="styles/forms.css"> -->
  <!-- build:css assets/css/global1.css -->
  <!-- <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css"> -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.css">
  <!-- <link rel="stylesheet" type="text/css" href="../node_modules/angular-chart.js/dist/angular-chart.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/ui-select/dist/select.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/ng-tags-input/build/ng-tags-input.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/ng-tags-input/build/ng-tags-input.bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/ng-sortable/dist/ng-sortable.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/ng-sortable/dist/ng-sortable.style.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css"> -->
  <link rel="stylesheet" type="text/css" href="assets/css/upload.css">
  <!-- endbuild -->
  <!-- build:css assets/css/global2.css -->
  <link rel="stylesheet" type="text/css" href="assets/css/loaders.css">
  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" />

  <link rel="stylesheet" type="text/css" href="assets/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/components.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/darkblue.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.touchspin.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/datatables.bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />

  <link rel="stylesheet" type="text/css" href="assets/css/gis.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/containerType.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/sop.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/fd.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/imgSort.css">
  <link rel="stylesheet" type="text/css" href="assets/css/unis.css" />

  <link rel="stylesheet" type="text/css" href="assets/css/light.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/timeline.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/unis-compatible.css" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
      <% } %>


        <%= htmlWebpackPlugin.files.webpackManifest %>

          <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
            <!-- Webpack Dev Server reload -->
            <script src="/webpack-dev-server.js"></script>
            <% } %>

              <!-- Async Google Analytics: change UA-71073175-1 to be your site's ID -->
              <script>
                window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
                ga('create', 'UA-71073175-1', 'auto');
                ga('send', 'pageview');
              </script>
              <script async src="https://www.google-analytics.com/analytics.js"></script>
              <!-- End Google Analytics -->

              <!-- CSS will be injected by webpack here -->
              <!-- Preload link tags will be injected by webpack here -->

</head>

<body>

  <app>
    Loading...
  </app>

  <!-- Scripts will be injected by webpack here -->
</body>

</html>